<!DOCTYPE html>
<html>

<body>


	<div class="container pt-10">
		<div>
			<h2>Welcome User using ElemnetRef </h2>
			<div>
				<h3 #welcomenameuser></h3>
			</div>
		</div>
		<hr>
		<h2>Showing the DataList Using NgStyel and NgFor</h2>
		<table class="table table-striped table-bordered pt-10">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Type</th>
					<th>SourceKey</th>
				</tr>
			</thead>
			<tbody>
				<!--- Binding the arraylist with the help of ngFor directive-->
				<tr *ngFor="let welldatalist of welldatalists;let i = index">
					<td>{{ i+1 }}</td>
					<td>{{  welldatalist.nameVal}}</td>
					<!--Using the ngStyle to give the color and look to application-->
					<td [ngStyle]="{'background-color':welldatalist.typeVal === 'rls' ? 'green' : 'pink' }">
						{{  welldatalist.typeVal}}</td>
					<td (click)="rowClickedEvent(i)">{{  welldatalist.sourceKeyVal}}</td>
				</tr>
			</tbody>
		</table>
		<hr>
		<!--Integrate the child selector-->
		<app-child [userInfo]="userInfo" (newItemEvent)="addItem($event)"></app-child>
	</div>

</body>


</html>